.height {
    padding-top: 7em !important;
    padding-bottom: 7em !important;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
}

.swiperButton {
    padding-bottom: 2em;
    padding-top: 2em;
}
