.height {
    background-color: rgb(246, 193, 0) !important;
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
}

.swiperButton {
    padding-bottom: 2em;
    padding-top: 2em;
}
